{% extends "home/base.html" %}

{% block content %}

    {% if form.errors %}
        <p>نام کاربری یا گذرواژه غلط است</p>
    {% endif %}

    {% if next %}
        {% if request.user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="login" id="id_submit">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}
